.customShadow {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/***user table***/
.userTable {
  @apply bg-white;
}
.userTable th {
  @apply border text-base font-medium;
}

.userTable td {
  @apply border text-base text-center;
}

/**scrollbar hidden****/
.scrollbar-none::-webkit-scrollbar {
  display: none;
}

@media screen and  (max-width: 576px) {
.category-card-parent{
  grid-template-columns: 1fr !important;
  margin: 0 auto;
}
.category-card-parent > div{
  margin: 0 auto;
}
}

@media (min-width: 320px) and (max-width: 768px) {
  /* .vertical > div {
    min-width: 170px;
    max-width: 170px;
  } */

  .vertical-product-card {
    height: 180px;
    min-width: 160px;
    max-width: 160px;
  }
}

@media (max-width: 320) {
  .vertical > div {
    min-width: 150px;
    max-width: 150px;
  }
  .vertical-product-card {
    height: 180px;
    min-width: 160px;
    max-width: 160px;
  }
}

@media (max-width: 768px) {
  .main-cart-page {
    flex-direction: column;
  }
  .side-panel {
    width: 100%;
  }
}
