.horizontal-slider {
    width: 100%;
    height: 10px;
    background: #ddd;
    border-radius: 5px;
  }
  
  .example-thumb {
    height:13px;
    width: 13px;
    background: #ffb256;
    border-radius: 50%;
    cursor: grab;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 12px;
  }
  
  .example-track {
    background: #007bff;
    height: 100%;
  }
  